<!DOCTYPE html>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<title> cekemail</title>
<main>
  
  <div class="container py-5" style="width: 13cm; height: 5cm;">

    <div class="p-2 mb-4 bg-light rounded-3">
      <div class="container-fluid py-3">
        <center>
        <p class="display fw-bold" style="font-size: 150%;">Reset Password</p>
        
        <p class="fw-normal" style="width: 65%;">Selamat Password anda telah berhasil di ubah silahkan login ulang kembali</p>
        
          <div class="d-grid gap-2">
            <button class="btn btn-primary fw-bolder" type="button">Login</button>
          </div></center>
      </div>
    </div>
  