<!DOCTYPE html>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<title> resetpassword</title>
<main>
  
  <div class="container py-5" style="width: 13cm; height: 5cm;">

    <div class="p-2 mb-4 bg-light rounded-3">
      <div class="container-fluid py-3">
        <center>
        <p class="display fw-bold" style="font-size: 150%;">Reset Password</p>
        </center>
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="fst-normal" >Password Baru</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="fst-normal">Ulangi Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            </form>
        <center>
          <div class="d-grid gap-2">
            <button class="btn btn-primary fw-bolder" type="button">Submit</button>
          </div></center>
      </div>
    </div>
  