.custom-inpForm
{
	position: relative;
	display: flex;
	width: 70%;
	margin: 0 -4cm 1cm 4cm;
}

.custom-btn-filter
{
	margin: 0 0 0 20px;
	width: 44px;
	height: 45px;
	border-radius: 10px;
}

.filter-icon
{
	justify-content: center;
	width: 47px;
	padding: 5px 4px 5px 4px;
	margin: -7px 0 0 -11px;
	border: 1px solid black;
	background-attachment: black;
	background-color: white;
	border-radius: 10px;
	filter: invert(0%);
}

.form-check
{
	margin-left: 10px;
}

.form-check-label
{
	margin-left: 5px;
}

.d-flex
{
	display: flex;
}

.img-blog-row1
{
	min-width: 60%;
	max-width: 60%;
	border-radius: 20px;
	min-height: 8cm;
	max-height: 8cm;
	object-fit: cover;
}

.flex-column h2
{
	margin-left: 0.8cm;
}

.desc-row1
{
	color: black;
	padding-left: 0.8cm;
	filter: invert(20%);
}

.flex-column
{
	flex-direction: column;
}

.flex-column h5
{
	font-size: 18px;
}

.img-blog-row2
{
	min-width: 100%;
	max-width: 100%;
	border-radius: 20px;
	min-height: 6cm;
	max-height: 6cm;
	object-fit: cover;
}

.desc-row2
{
	color: black;
	font-size: 15px;
	filter: invert(20%);
}

.pagination-position
{
	padding-left: 43%;
	margin-bottom: 1cm;
}